@model BougieCandles.ViewModels.HomeViewModel

@await Html.PartialAsync("Carousel")

<h2>Prefered Candles of the week </h2>
<h4>Candle preferences - just for you!</h4>

@*<div class="row">
    @foreach (var candle in Model.PreferredCandles)
    {
        @Html.PartialAsync("CandlesSummary", candle)
    }
</div>*@
@*<img src="\\Mac\Home\Desktop\Capstone\BougieCandles\BougieCandles\wwwroot\images\BougieCandlesLogoJPG.JPG" />*@