@model BougieCandles.ViewModels.CandleListViewModel

<div class="row marginTop">
    @foreach (var candle in Model.Candles)
    {
        @Html.Partial("CandlesSummary", candle)
    }
</div>



@*@using BougieCandles.ViewModels

    @model CandleListViewModel



    <div class="row marginTop">
        @foreach (var Candle in Model.Candles)
        {
            @Html.Partial("CandlesSummary", Candle)
        }
    </div>*@